* {
    margin: 0;
    padding: 0;
 

}
body {
overflow: hidden;
  margin: 0;
  background-color: #ffffff; 
  font-family: Arial, sans-serif;
}

.navbar {
  width: 100%;
  background-color: rgb(88,0, 153, 42%); 
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding:10px 20px;
  height: 100px;

}

.logoizq img {

  display: flex;
  padding: 40px;    

}

.navbar ul {
  list-style: none;
  display: flex;
padding-right: 5%;
  gap: 40px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 0.3s;
}

.navbar a.active {
  font-weight: 700;
  text-shadow: 0 0 8px white;
  border-bottom: 2px solid white;
  padding-bottom: 3px;
}

.navbar a:hover {
  text-shadow: 0 0 8px white;
  border-bottom: 2px solid white;
  padding-bottom: 3px;
}
